[submodule "vendor/libgit2"]
	path = vendor/libgit2
	url = https://github.com/nodegit/libgit2.git
[submodule "vendor/http_parser"]
	path = vendor/http_parser
	url = https://github.com/nodejs/http-parser
[submodule "packages/emnapi"]
	path = packages/emnapi
	url = https://github.com/toyobayashi/emnapi.git
[submodule "packages/napi-rs-ts"]
	path = packages/napi-rs-ts
	url = https://github.com/napi-rs/package-template.git
[submodule "packages/node-addon-examples"]
	path = packages/node-addon-examples
	url = https://github.com/toyobayashi/node-addon-examples
